<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <style>
        #logo {
            margin:0px;
            padding:0px;
        }
        .loginbox {
            width:260px;
            margin:100px auto;
        }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="navbar-header">
                    <a  href="#">
                        <img id="logo" class="navbar-brand" alt="Brand" src="/static/logo-aviso.svg">
                    </a>
                </div>
            </div>
        </nav>
        <div class="loginbox">
        <label>Login: </label>
        {% block content %}
        {% endblock %}
        </div>
    </bod>
</html>
